.brewery-image {
  img {
    object-fit: cover;
    height: 38em;
    width: 100%;
    opacity: .15;
  }
}

.brewery-details-container {
  button {
    width: 7em;
    height: 3em;
    font-size: 1em;
  }
}
