*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Inria Sans', sans-serif;
  margin:0;
  padding:0;
}

main {
  height:100%;
  width:100%;
  background: $light-gray;

  header {
    background: $light-purple;
    position: sticky;
    top: 0px;
    z-index: 99;
  }

  button {
    cursor: pointer;
    outline: none;
    &:hover {
      background: #B2ADAD;
      transform: scale(1.05);
    }
  }

  .margin-wrap {
  margin:0 auto;
  max-width:1500px;
  width:100%;
  }
}
