.brewery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.no-favorites {
  background: white;
  text-align: center;
  padding-top: 10em;
}

.favorite-header {
  margin: 1em;
  font-weight: normal;
  text-align: center;
}

.favorites-container {
  height: 39em;
}
