header {
  padding: 0;
  margin-bottom: 1em;
  width:100%;
  height: 6em;
  @include dropShadow;
  font-family: 'Inria Sans', sans-serif;
  display: inline-block;

  div {
    width: 26em;
  }

  img {
    width: 4em;
    height: 4em;
    margin: 1em 1em 0 1em;
  }

  h2 {
    display: inline-block;
    font-weight: normal;
  }
}
