header {
  padding: 0;
  width:100%;
  height: 6em;
  @include dropShadow;

  display: flex;

  div {
    width: 26em;
  }

  img {
    width: 4em;
    height: 4em;
  }

  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }

  h2 {
    display: inline-block;
    font-weight: normal;
    margin-left: .5em;
  }

  .favorites-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 33em;
    button {
      width: 11em;
      height: 2.1em;
      font-size: 1.3em;
      border: none;
      @include dropShadow;
    }
  }
}
